
div.scroll
{
    position: absolute;
    top:220px;
    left:145px;
    background-color:#C0C0C0; 
}

div.groupimg { 
    float: right;
    position: absolute;
    right: 250px;
    top:220px;
}


/*description below the picture
button position align with the edge of the head pic
description -->another element for description 
get the final version on google drive
mouse effect
art gallery*/

div.button{
    position: absolute;
    top: 220px;
    left:1234px;
    width: 20px;
    height: 100px;
}